# Object files
*.o

# Compiled binaries / executables
*.out
*.exe

# Static libraries
*.a

# Shared libraries
*.so
*.dll
*.dylib

# Debug files
*.gch
*.pch

# Ignore everything with no dot (but keep dotfiles, .c, .h)
*
!*.c
!*.h
!.gitignore

